<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rafaelpereiraramos.applogwriter">
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
    android:name=".App">

        <!--see if need run in a special process-->
        <service android:name=".AppLogService" />
    </application>
</manifest>
